<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <staticContent>
      <!-- remove first in case they are defined in IIS already, which would cause a runtime error -->

      <remove fileExtension=".plist" />
      <mimeMap fileExtension=".plist" mimeType="text/json"/>

    </staticContent>
  </system.webServer>
</configuration>
